<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999154039117-6e5tdcjiqr0tu2arp68errmql3lljpnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999154039117-6e5tdcjiqr0tu2arp68errmql3lljpnm</string>
	<key>API_KEY</key>
	<string>AIzaSyDYB5NZqE4Mj7yv6lLou-czpqMSKn61ACg</string>
	<key>GCM_SENDER_ID</key>
	<string>999154039117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>travelbroche.com.Broche</string>
	<key>PROJECT_ID</key>
	<string>broche-9c5dd</string>
	<key>STORAGE_BUCKET</key>
	<string>broche-9c5dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999154039117:ios:95a0cc0ad3dedcd62c1f04</string>
</dict>
</plist>